@charset "UTF-*";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html {
    background-color: #3B82F6;
     min-height: 100vh;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#login {
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
}

section#login > div#imagem {
    background: url(../imagens/imagemlogin.png) no-repeat;
    background-size: cover;
    background-position: top right;
    height: 200px;
    display: block;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}