<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GB Instituições</title>

    <!-- CSS correto no Flask -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contato.css') }}">
</head>
<body>

<nav>
    <a href="{{ url_for('index') }}">Início</a>
    <a href="{{ url_for('sobre') }}">Sobre</a>
    <a href="{{ url_for('cursos') }}">Cursos</a>
    <a href="{{ url_for('contato') }}">Contato</a>
    <a href="{{ url_for('login') }}">Login</a>
</nav>

<h1>Página de Contato</h1>

</body>
</html>
